{% extends "../_layout/main.twig" %}
{% set page = "support" %}

{% block content %}
  <div class="wrap page">
    <div class="page-hero">
      <h1 class="page-hero__title alpha">Token Support</h1>
      <p class="text">
      For help with Token, visit our <a href="https://github.com/tokenbrowser">GitHub</a> to open an issue, or ask a question on our <a href="http://developers.tokenbrowser.com/discuss">discussion forum</a>
      </p>
    </div>
  </div>
{% endblock %}
